# {{ ansible_managed }}
source /etc/network/interfaces.d/*
# The loopback network interface
auto lo
iface lo inet loopback
#############################################################
################## Assign Physical NIC to Bonds #################################
{% for nicitem in target_hosts[ansible_hostname]['nic'] %}
## {{ nicitem.description }}
auto {{ nicitem.nicName }}
{% if not nicitem.address %} 
iface {{ nicitem.nicName }} inet manual
{% endif %}
{% if nicitem.bonded_with %}
    bond-master {{ nicitem.bonded_with }}
    bond-primary {{ nicitem.nicName }}
{% endif %}
{% if  nicitem.address %}
iface {{ nicitem.nicName }} inet static
	address {{ nicitem.address }}
    netmask {{ nicitem.netmask }}
    {% if nicitem.broadcast %}
    broadcast {{ nicitem.broadcast }}
    {% endif %}      
    {% if nicitem.gateway %}
    gateway {{ nicitem.gateway }}
    {% endif %}
    {% if nicitem.dns %}
    dns-nameservers {{ nicitem.dns }}
    {% endif %}
{% endif %}
{% endfor %}
################### Create Bond ##############################################
{% for bonditem in target_hosts[ansible_hostname]['bond'] %}
## {{ bonditem.description }}
auto {{ bonditem.bondName }}
iface {{ bonditem.bondName }} inet manual
    bond-slaves {{ bonditem.bondNic }}
    bond-mode active-backup
    bond-miimon 100
    bond-downdelay 200
    bond-updelay 200
{% endfor %}
######################Create VLAN Sub Intrefaces from bond or physical NIC ######################
{% for vNicitem in target_hosts[ansible_hostname]['vNic'] %}
### {{ vNicitem.description }}
auto {{ vNicitem.vNicName }}
iface {{ vNicitem.vNicName }} inet manual
    vlan-raw-device {{ vNicitem.vNicParent }}
{% endfor %}
#######################Create Bridges #######################################################
{% for britem in target_hosts[ansible_hostname]['bridges'] %}
# {{ britem.description }}
auto {{ britem.brName }}
{% if britem.address %}
iface {{ britem.brName }} inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ britem.brPort }}
    address {{ britem.address }}
    netmask {{ britem.netmask }}
    {% if britem.broadcast %}
    broadcast {{ britem.broadcast }}
    {% endif %}      
    {% if britem.gateway %}
    gateway {{ britem.gateway }}
    {% endif %}
    {% if britem.dns %}
    dns-nameservers {{ britem.dns }}
    {% endif %}
 {% endif  %}
 {% if not britem.address %}
iface {{ britem.brName }} inet manual
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ britem.brPort }}    
 {% endif  %} 
 {% endfor %}
### EOF #######