# {{ ansible_managed }}
source /etc/network/interfaces.d/*
# The loopback network interface
auto lo
iface lo inet loopback
#############################################################

{% for b in target_hosts['infra2']['bridges'] %}

{{ b.brName }}

{% endfor %}