# {{ ansible_managed }}
source /etc/network/interfaces.d/*
# The loopback network interface
auto lo
iface lo inet loopback 
#############################################################
################## Create Physical NIC and Assign Physical NIC to Bonds if bond exists  #################################
{% if target_hosts[ansible_hostname]['nic'] is defined %}
{% for nicitem in target_hosts[ansible_hostname]['nic'] %}
{% if nicitem.nicName %}
## DESCRIPTION: {{ nicitem.description }}
auto {{ nicitem.nicName }}
{% if not nicitem.address %}
iface {{ nicitem.nicName }} inet manual
{% endif %}
{% if nicitem.bonded_with %}
    bond-master {{ nicitem.bonded_with }}
{% else %}
    vlan-raw-device  {{ nicitem.nicName }}
{% if nicitem.bond_primary %}
    bond-primary {{ nicitem.nicName }}
{% endif %} 
{% endif %}
{% if  nicitem.address %}
iface {{ nicitem.nicName }} inet static
	address {{ nicitem.address }}
	netmask {{ nicitem.netmask }}
{% if nicitem.network %}
	network {{ nicitem.network }}
{% endif %}
{% if nicitem.broadcast %}
	broadcast {{ nicitem.broadcast }}
{% endif %}      
{% if nicitem.gateway %}
	gateway {{ nicitem.gateway }}
{% endif %}
{% if nicitem.dns %}
	dns-nameservers {{ nicitem.dns }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
################### Create Bond ##############################################
{% if target_hosts[ansible_hostname]['bond'] is defined  %}
{% for bonditem in target_hosts[ansible_hostname]['bond'] %}
{% if bonditem.bondName %}
## DESCRIPTION: {{ bonditem.description }}
auto {{ bonditem.bondName }}
iface {{ bonditem.bondName }} inet manual
    bond-slaves none
    bond-mode active-backup
    bond-miimon 100
    bond-downdelay 200
    bond-updelay 200
{% endif %}
{% endfor %}
{% endif %}
######################Create VLAN Sub Intrefaces from bond or physical NIC ######################
{% if  target_hosts[ansible_hostname]['vNic'] is defined  %}
{% for vNicitem in target_hosts[ansible_hostname]['vNic'] %}
{% if vNicitem.vNicName %}
## DESCRIPTION {{ vNicitem.description }}
auto {{ vNicitem.vNicName }}
iface {{ vNicitem.vNicName }} inet manual
    vlan-raw-device {{ vNicitem.vNicParent }}
{% if  vNicitem.address %}
iface {{ vNicitem.nicName }} inet static
	address {{ vNicitem.address }}
	netmask {{ vNicitem.netmask }}
{% if vNicitem.network %}
	network {{ vNicitem.network }}
{% endif %}
{% if vNicitem.broadcast %}
	broadcast {{ vNicitem.broadcast }}
{% endif %}      
{% if vNicitem.gateway %}
	gateway {{ vNicitem.gateway }}
{% endif %}
{% if vNicitem.dns %}
	dns-nameservers {{ vNicitem.dns }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
#######################Create Bridges #######################################################
{% if target_hosts[ansible_hostname]['bridges'] is defined %}
{% for britem in target_hosts[ansible_hostname]['bridges'] %}
{% if britem.brName %}
##DESCRIPTION:  {{ britem.description }}
auto {{ britem.brName }}
{% if britem.address %}
iface {{ britem.brName }} inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ britem.brPort }}
    address {{ britem.address }}
    netmask {{ britem.netmask }}
{% if britem.network %}
    network {{ britem.network }}
{% endif %}
{% if britem.broadcast %}
    broadcast {{ britem.broadcast }}
{% endif %}
{% if britem.gateway %}
    gateway {{ britem.gateway }}
{% endif %}
{% if britem.dns %}
    dns-nameservers {{ britem.dns }}
{% endif %}
{% endif  %}
{% if not britem.address %}
iface {{ britem.brName }} inet manual
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports {{ britem.brPort }}    
{% endif  %}
{% endif  %}
{% endfor %}
{% endif %}
### EOF #######