# {{ ansible_managed }}
source /etc/network/interfaces.d/*
# The loopback network interface
auto lo
iface lo inet loopback
#############################################################
################## Create Physical NIC and Assign Physical NIC to Bonds if bond exists  #################################
{% if target_hosts[ansible_hostname]['nic'] is defined %}
{% for nicitem in target_hosts[ansible_hostname]['nic'] %}
{% if nicitem.nicName %}
## DESCRIPTION: {{ nicitem.description }}
auto {{ nicitem.nicName }}
{% if not nicitem.address %} 
iface {{ nicitem.nicName }} inet manual
{% endif %}
{% if nicitem.bonded_with %}
    bond-master {{ nicitem.bonded_with }}
{% if nicitem.bond_primary %}
    bond-primary {{ nicitem.nicName }}
{% endif %}
{% endif %}
{% if  nicitem.address %}
iface {{ nicitem.nicName }} inet static
	address {{ nicitem.address }}
	netmask {{ nicitem.netmask }}
{% if nicitem.network %}
	network {{ nicitem.network }}
{% endif %}
{% if nicitem.broadcast %}
	broadcast {{ nicitem.broadcast }}
{% endif %}      
{% if nicitem.gateway %}
	gateway {{ nicitem.gateway }}
{% endif %}
{% if nicitem.dns %}
	dns-nameservers {{ nicitem.dns }}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
